[{"width":32,"height":32,"animType":0,"title":"LED","indexImage":"74e83c37-ab29-44e0-a8fe-a1b8fe9e561c.png","code":"74e83c37-ab29-44e0-a8fe-a1b8fe9e561c","ledHelperType":1,"text":"LED","images":["fps_1.png"]},{"width":32,"height":32,"animType":0,"title":"LED","indexImage":"74e83c37-ab29-44e0-a8fe-a1b8fe9e561b.png","code":"74e83c37-ab29-44e0-a8fe-a1b8fe9e561b","ledHelperType":0,"images":["fps_1.png"]},{"width":32,"height":32,"animType":0,"title":"LEDAnim","indexImage":"74e83c37-ab29-44e0-a8fe-a1b8fe9e561a.png","code":"74e83c37-ab29-44e0-a8fe-a1b8fe9e561a","ledHelperType":2,"images":["fps_1.png","fps_2.png"]}]